body{
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    background-color: rgba(32, 33, 36);
}
.odd{
    background-image: linear-gradient(to right,rgba(32,33,36), rgba(32,33,36), rgba(32,33,36),rgba(32,33,36,1),rgba(32,33,36,0.75), rgba(32,33,36,0.5),rgba(32,33,36,0.25), rgba(32,33,36,0)),url('background.png'),linear-gradient(#1e3c72, #2a5298);
}
.even{
    background-image: linear-gradient(to left,rgba(32,33,36), rgba(32,33,36), rgba(32,33,36),rgba(32,33,36,0.75), rgba(32,33,36,0.5),rgba(32,33,36,0.25), rgba(32,33,36,0)),url('background.png'),linear-gradient(#1e3c72, #2a5298);
}
section{
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100%;
    width: 100%;
    padding: 5%;
}
#landing{
    height: 100%;
}
#projects{
    padding-bottom: 0%;
}
h1{
    font-size: 3rem;
    font-weight: bold;
}
.subtext{
    font-size: 1.5rem;
}
.container-fluid{
    z-index: 9;
}
.outline{
    border: 1px solid white;
    border-radius: 2px;
    padding: 1% 2%;
    z-index: 999;
    cursor: pointer;
}
.brdr{
    border: 1px solid #2a5298 ;
    border-radius: 2px;
    padding: 2%;
    text-align: center;
    width: 100%;
    height: 4vw;
}
.card{
    /* background: rgba(32,33,36); */
    background: none;
    border: 3px solid #2a5298 ;
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
}
a {
    color: white;
    text-decoration: none;
  }

a:hover{
    color: white;
}

.card-title{
padding-top: 0%;
}

.card-img-top{
    padding: 9%;
}

.social{
    list-style-type: none;
  }

  #contact{
      border: 2px solid #2a5298;
      border-radius: 2px;
      padding: 3%;
      width:auto;
  }
  textarea{
      resize: none;
  }
  input,textarea{
      background: none;
      border: 1.5px solid #2a5298;
      color: rgb(236, 236, 236);
      width: 75%;
      padding: 1%;
      margin-top: 1%;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C0C0C0;
    opacity: 0.25; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C0C0C0;
    opacity: 0.25; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #C0C0C0;
    opacity: 0.25; /* Firefox */
  }


@media only screen and (max-width: 766px) {
    #landing {
      text-align: center;
    }
    .card-img-top{
        width: 50%;
    }
    .hom{
        display: none;
    }
  }

@media only screen and (min-width: 766px) {
    .hod{
        display: none;
    }
  }

  .m{
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2%;
  }

.btn-primary{
    background-color: #2a5298;
    border-color: #2a5298;
}
footer{
    background-color: rgba(32,33,36);
    text-align: center;
}
hr{
    margin: 0.1rem;
}

  
  .nav {
    height: 50px;
    width: 100%;
    background-color: rgba(32, 33, 36, 0.75);
    position:fixed;
    z-index: 9999999;
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #efefef;
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width:600px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: rgba(32, 33, 36, 0.75);
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > a {
      display: block;
      width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }