body{
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    color: rgba(32, 33, 36);
}
h3{
  font-weight: 800;
}
g{
  color:#585f43;
}
.even{
  background-color: #efefef;
  position: relative;
}
.odd{
  background-color: #C0C0C0;
  position: relative;
}
section{
    position: relative;
    min-height: 100%;
    width: 100%;
    padding: 5%;
}
#about-me{
  min-height: auto;
  height: auto;
  padding-bottom: 0;
}
#landing{
    padding-bottom: 0;
}
.btn:hover{
  color: white;
}
.hh{
  position: absolute;
  bottom: 0;
}
h1{
    font-size: 3rem;
    font-weight:800;
}
h2{
  font-size: 2.5rem;
  font-weight:700;
}
.subtext{
    font-size: 1.5rem;
}
.container-fluid{
    z-index: 9;
}
.outline{
    border: 2px solid rgb(32, 33, 36);
    border-radius: 5px;
    padding: 2% 3%;
    z-index: 999;
    cursor: pointer;
    background-color: rgb(32, 33, 36);
    display: inline-block
}

.outline:hover{
  -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1);
}

.action-green{
  border: 2px solid #585f43;
  border-radius: 5px;
  padding: 1% 2%;
  z-index: 999;
  cursor: pointer;
  color: white;
  background-color: #585f43;
  display: inline-block
}
.action-green:hover{
-webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1);
}
.outline-light{
  border: 2px solid rgb(32, 33, 36);
  border-radius: 5px;
  padding: 2% 3%;
  z-index: 999;
  cursor: pointer;
  display: inline-block;
}
.outline-light:hover{
-webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1);
}
.action-light{
  border: 2px solid rgb(32, 33, 36);
  border-radius: 5px;
  padding: 1rem 1rem;
  display: inline-block;
}
.action-light:hover{
-webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1);
}

.navbar-toggler-icon{
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.card{
    background: none;
    border: 3px solid rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-align: center;
    width: 100%;
    margin-bottom: 3%;
}

.card-pd{
  background: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  width: 100%;
  margin-bottom: 3%;
  border-radius: calc(.25rem - 1px);
}

.card-pd > a > .card-img-top{
  padding: 0;
}

.card-pd > a > .card-body > .card-text{
  text-align: left;
}
a {
    color: black;
    text-decoration: none;
  }

a:hover{
    color: black;
    text-decoration: none;
}

.nav-links {
  color: white;
  text-decoration: none;
}

.nav-links:hover{
  color: white;
}

.card-title{
padding-top: 0%;
font-weight: 600;
}
.card-text{
font-size: small;
}
.card-img-top{
    padding: 9%;
}

.social{
    list-style-type: none;
  }
  .pre-contact{
    padding: 3%;
    text-align: center;
  }

  #contact{
      padding: 3%;
      width:auto;
  }
  textarea{
      resize: none;
  }
  input,textarea{
      background: none;
      border: 1.5px solid rgba(32, 33, 36,0.5);
      border-radius: 2px;
      color: rgb(32, 33, 36);
      width: 100%;
      padding: 1% 2%;
      margin: 2% 0;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(32, 33, 36);
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(32, 33, 36);
    opacity: 0.5; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(32, 33, 36);
    opacity: 0.5; /* Firefox */
  }

  .m{
    border: 1px solid white;
    border-radius: 10px;
    padding: 1% 2%;
  }

.btn-p{
    background-color: #585f43;
    border-color: #585f43;
    color: white;
}
.btn-p:hover{
  background-color: #7a835f;
  border-color: #7a835f;
}
.btn-p:active{
  background-color: #7a835f;
  border-color: #7a835f;
}
footer{
    background-color: #585f43;
    text-align: center;
}
hr{
    margin: 0.1rem;
}

  .nbcl{
    position: fixed;
    top:0;
    z-index: 8;
    width: 100%;
    background-color: rgba(192, 192, 192, 0.75);
  }
  .btn-black{
    background-color: rgb(32, 33, 36);
    color: white;
  }
  .navbar-brand{
    font-weight: 800;
  }

  .spimg{
    width: 100%;
  }

  .spimg75{
    width: 50%;
  }

  @media only screen and (max-width: 766px) {
    #landing {
      text-align: center;
    }
    .card-img-top{
        width: 50%;
    }
    .card-pd > a > .card-img-top{
      width: 100%;
    }
    .hom{
        display: none;
    }
  }

@media only screen and (min-width: 766px) {
    .hod{
        display: none;
    }
    .spimg{
      width: 80%;
    }
  }

  #preloader{
    width: 100vw;
    height: 100vh;
    background-color: rgb(192, 192, 192);
    position: fixed;
    z-index: 9;
    top:0;
    right: 0;
    text-align: center;
    color: rgb(32, 33, 36);
  }
  #loader{
    position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  }
  
  #square{
      position: absolute;
      top: 40%;
      left: 0%;
      height: 50vh;
      width: 8rem;
      z-index: 11;
      background:  linear-gradient(to right,rgb(192, 192, 192),rgba(192, 192, 192, 0.75),rgba(192,192,192,0.5),rgba(192,192,192,0.25),rgba(192,192,192,0));
      -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    animation-direction: alternate;
  }
    
    /* Safari */
    @-webkit-keyframes spin {
      0% { left:0% }
      100% { left: 100%; }
    }
    
    @keyframes spin {
      0% { left:0% }
      100% { left: 100%; }
    }